/* App-level layout styling */
ion-app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full-screen height */
}

ion-router-outlet {
  flex-grow: 1; /* Allow content to grow and fill the remaining space */
  overflow-y: auto; /* Enable scroll if needed */
  margin-top: 56px; /* Adjust for header height */
}

ion-header {
  position: relative;
  z-index: 100; /* Make sure the header is above other elements */
  height: 56px;
  background-color: #f8f8f8;
  padding: 10px 20px;
}
