<div class="scroll-container">
  <ng-container *ngIf="elems.length > 0; else emptyList">
    <ng-container *ngFor="let elem of elems">
      <!-- <app-elem [elem]="elem"></app-elem> -->
      <p>Elem</p>
    </ng-container>
  </ng-container>
  <ng-template #emptyList>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Whoops! there's nothing here</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ emptyDescription }}</p>
        <ion-button (click)="openModalForm()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <!-- Add an icon here according to which page we're on (outlined version of bottom bar's icons).
        Very large, not very visible; to style the card. -->
      </ion-card-content>
    </ion-card>
    <!-- Add another Add button here that will be displayed when the list won't be empty -->
  </ng-template>
</div>